/* Define o gradiente animado no hover */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hover-animate-gradient {
  background-size: 200% 200%;
  background-position: 0% 50%;
  transition: background-position 0.5s ease;
}

.hover-animate-gradient:hover {
  animation: gradientMove 5s linear infinite;
}
