/* Estilo geral do cartão */
.game-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1f2937;
  cursor: pointer;
  transition: transform 0.3s, border-color 0.3s;
}

.game-card:hover {
  transform: scale(1.05);
}

/* Imagem do jogo */
.game-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: filter 0.1s ease, transform 0.3s ease;
  filter: blur(0);
  transform: scale(1);
}

.game-card:hover .game-image {
  filter: blur(3px);
  transform: scale(1.05);
}

/* Sobreposição do cartão */
.game-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.circle-container {
  background-color: green; /* Cor de fundo verde */
  border-radius: 50%; /* Tornar o fundo circular */
  padding: 15px; /* Ajuste o tamanho do círculo */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Adiciona um efeito de hover */
.circle-container:hover {
  background-color: darkgreen; /* Torna o círculo mais escuro ao passar o mouse */
}

.group:hover .game-overlay {
  opacity: 1;
}

/* Ícone de "play" */
.play-icon {
  position: relative;
  transform: scale(0);
  transition: transform 0.1s ease-in-out;
  color: white;
  font-size: 1.5rem;
}

.group:hover .play-icon {
  transform: scale(1);
}

/* Nome do jogo */
.game-name {
  font-size: 12px;
  text-align: center;
  color: #d1d5db; /* Cor neutra */
  margin-top: 8px;
}

/* Ícones de Favorito */
.favorite-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.game-card:hover .favorite-icon {
  opacity: 1;
  pointer-events: auto;
}

/* Estilos para ambas as estrelas */
.empty-star,
.filled-star {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Estrela Vazia */
.empty-star {
  color: #ccc;
  opacity: 0;
  transform: scale(0.8);
}

.empty-star.active {
  opacity: 1;
  transform: scale(1);
}

/* Estrela Preenchida */
.filled-star {
  color: gold;
  opacity: 0;
  transform: scale(0.8);
}

.filled-star.active {
  opacity: 1;
  transform: scale(1);
}



/* Texto de "Jogar" */
.game-play-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
  transition: opacity 0.3s ease;
}

.group:hover .game-play-text {
  opacity: 1;
}

/* Animação de rotação lenta */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.group:hover .animate-spin-slow {
  animation: spin-slow 0.4s linear infinite;
}
